*{
    margin: 0;
    padding: 0;
}

p {
    font-size: 14px;
}

.swap, .swapad {
    height: 200px;
    width: 750px;
}

.swapad {
    display: block;
    position: fixed;
    top: 20%;
    left: 20%;
}

.closeBtn {
    font-size: 30px;
    z-index: 100;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}

/*css reset*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}

#inicio{
   background-color: #59405C;
}

#blockchain{
   background-color: #59405C;
}

#criptomonedas{
   background-color: #59405C;
}

#nfts{
   background-color: #59405C;
}

#wallets{
   background-color: #59405C;
}

.content{
    margin-top: 90px;
    color: #fff;
}







